/* Custom "submit a ticket" button */
/* Navigation bar button */
/* #menu-main-menu > .menu-item:last-child {
	color: #000 !important;
	background: #ffd64e;
	border-radius: 32px;
	outline: 1px solid #ffd64e;
}
#menu-main-menu > .menu-item:last-child:hover,
#menu-main-menu > .menu-item:last-child a:hover {
	background-color: #fff;
}
#menu-main-menu > .menu-item:last-child a {
	border-radius: 32px;
} */
/* Contact page button */
.ticket-btn a {
  text-decoration: none !important;
  text-transform: uppercase;
  /* 	font-weight: normal; */
  letter-spacing: 1px;
}

/* Topbar button */
.new-contact-info a.top-btn {
  text-transform: uppercase;
  padding: 8px 14px !important;
  margin-top: 4px;
}

/* New contact info in topbar */
.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.new-contact-info i.fas {
  margin-right: 4px;
}
.new-contact-info a {
  color: #212529 !important;
}

/* Keep footer at bottom of page */
body {
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
}
#maincontent {
  width: 100%;
}

footer {
  margin-top: auto;
}

/* Disable load animation for real this time */
#loader-wrapper {
  display: none;
}

/* Hide extra stuff in "posts" */
.single-post .box-img,
.single-post .metabox,
.single-post .post-navigation,
.single-post #sidebar,
.single-post #comments {
  display: none;
}
.single-post .related-box {
  height: 100%;
}
#maincontent {
  margin-bottom: 4rem;
}
#maincontent #content {
  margin-top: 0;
}
#maincontent > .row > .col-lg-8,
#maincontent > .row > .col-md-8 {
  width: 100%;
}

/* Avoid capitalized articles in headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none !important;
}

/* Disable search */
.menu-color {
  background: #fff !important;
  height: 70px;
}
.menu-color > .row {
  align-items: center;
  justify-content: center;
  height: 100%;
}
.menu-color > .row > .col-lg-11 {
  width: unset;
}
.menu-color > .row > .col-lg-1 {
  width: 0;
  display: none;
}
.search-box {
  display: none;
}

/* Menu button text on mobile */
.mobiletoggle {
  border: 1px solid black !important;
}
.mobiletoggle:after {
  padding-left: 8px;
  padding-right: 7px;
  content: "Main Menu";
}
.wp-block-navigation__responsive-container-open {
  border: 1px solid black;
  padding: 4px 6px 4px 4px;
}
.wp-block-navigation__responsive-container-open:after {
  padding-left: 4px;
  content: "Menu";
}

/* New topbar contact info area */
#header-top > .container > .row {
  justify-content: space-between;
}
.new-contact-info {
  text-align: right;
}
.custom-logo {
  width: unset !important;
  height: unset !important;
  max-width: unset !important;
  max-height: 98px !important;
}

/* Disable gradient on slideshow */
#slider .carousel-item,
#menu-sidebar {
  background-image: unset;
}

/* Fix centering of slider on desktop */
#slider .carousel-caption {
  bottom: 31%;
}
/* Show slider on mobile too */
@media screen and (max-width: 991px) {
  #slider {
    display: block;
  }
  #slider .inner_carousel .readbtn {
    margin-top: 48px;
    display: none;
  }
  #slider .carousel-caption {
    height: 100%;
    display: flex;
    align-items: center;
    bottom: 1.25rem;
  }
  #slider .carousel-caption .inner_carousel {
    width: 100%;
  }
  .carousel-caption h1 {
    display: unset !important;
    font-size: 24px !important;
  }
  #we_provide {
    padding-top: 8px !important;
  }
}
@media screen and (max-width: 575px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none !important;
  }
}

/* Topbar adjustments for mobile */
@media screen and (max-width: 991px) {
  .new-contact-info {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 770px) {
  .flex-space-between {
    flex-direction: column;
  }
  .new-contact-info {
    text-align: center;
  }
}

/* Color overrides */
.top-header,
.talk-btn a,
.primary-navigation li a:hover,
.primary-navigation li:hover a,
.primary-navigation li a:focus,
.primary-navigation li:focus a,
#slider .carousel-control-next-icon i,
#slider .carousel-control-prev-icon i,
#slider .inner_carousel .readbtn a,
#we_provide .theme_button a,
.read-more-btn a,
#sidebar .tagcloud a:hover,
#footer input[type="submit"],
#footer .tagcloud a:hover,
.tags p a:hover,
.woocommerce span.onsale,
input[type="submit"],
#comments a.comment-reply-link,
.read-moresec a:hover {
  background: rgb(60, 60, 60);
  color: #fff !important;
}

.new-text h2 a,
.metabox i,
.metabox span a:hover,
#sidebar .textwidget a,
#sidebar ul li:hover,
#sidebar ul li:hover a,
#sidebar ul li:active,
#sidebar ul li:focus,
h1,
h2,
h3,
h4,
h5,
h6,
.tags i,
.tags p a,
.meta-nav,
#comments a time {
  color: rgb(60, 60, 60);
}

#sidebar .textwidget a,
#footer .textwidget a,
.entry-content a {
  color: rgb(60, 60, 60);
}

#we_provide h2 {
  color: rgb(60, 60, 60);
}

#slider .inner_carousel .readbtn a:hover {
  color: rgb(60, 60, 60) !important;
}

#we_provide h2:before,
#sidebar ul li:hover:before,
nav.woocommerce-MyAccount-navigation ul li,
#comments input[type="submit"].submit {
  background: rgb(60, 60, 60) !important;
}

.ticket-btn a {
  background: rgb(60, 60, 60);
  color: #fff !important;
  border-color: rgb(60, 60, 60);
}

/* #slider .carousel-control-next-icon i,
#slider .carousel-control-prev-icon i {
  color: #ffffff !important;
}

#slider .inner_carousel .readbtn a {
	color: #fff !important;
} */

.primary-navigation ul ul a:hover {
  background: rgb(39, 39, 39);
}

#we_provide .theme_button a:hover,
.read-more-btn a:hover,
.talk-btn a:hover,
#sidebar input[type="submit"]:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  background: rgb(90, 90, 90);
  /* color: rgb(60, 60, 60) !important; */
}

.sf-arrows ul .sf-with-ul:after {
  color: #fff !important;
}

.primary-navigation ul ul li:first-child {
  border-top: 6px solid #df2b23;
}

@media screen and (max-width: 1000px) {
  .side-menu {
    background-image: unset;
    background-color: rgb(15 15 15);
  }
  .menu-item {
    background-color: rgb(90, 90, 90);
  }
  #header .nav ul.sub-menu li a, #header .nav ul li a {
    color: #fff !important;
  }
  .side-menu .closebtn {
    color: rgb(90, 90, 90);
  }
  .primary-navigation ul ul li:last-child {
    border-bottom: 6px solid #df2b23;
  }
}

#footer {
  background-color: rgb(90, 90, 90);
  padding: 16px 0;
}
#footer .widget {
  padding: 0;
}
.wp-block-columns {
  margin-bottom: 0;
}
#footer a {
  color: #fff;
}